<div class="page-header">
  <h3><%= t('login') %></h3>
</div>
<%= simple_form_for(:credentials, url: signin_path) do |f| %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.input :remember_me, as: :boolean %>
  <%= f.button :submit, t('login') %>
  <span><%= link_to t('back'), home_path, class:"btn btn-default back" %></span>
<% end %>
