<%= simple_form_for @artist do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.button :submit, t('submit') %>
  <span><%= link_to t('back'), :back, class: 'btn btn-default back' %></span>
<% end %>
