<div class="page-title">
  <h3>
    <%= t 'artist.index.heading' %>&nbsp;<span class="glyphicons magic"><i></i></span>
    <span><button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="<%= t 'artist.index.popover' %>"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button></span>
  </h3>
</div>
<div class="heading-btn-divider"></div>
<button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#newArtistModal">
  <%= t('artist.index.create') %>
</button>
<!-- <%= link_to t('artist.index.create'), new_artist_path, class:'btn btn-default btn-lg btn-block' %> -->
<div class="btnloop-btn-divider"></div>
<hr>
<%= render partial: 'btnloop', locals: {objects: @artists, is_card: false } %>
<%= render partial: 'new_modal' %>
