<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :email %>
  <%= f.input :location %>
  <%= f.button :submit, t('create') %>
  <span><%= link_to t('back'), home_path, class:"btn btn-default back" %></span>
<% end %>
