<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <% if defined?(is_new) %>
    <%= f.input :username %>
  <% else %>
    <%= f.input :username, disabled: true, hint: t('simple_form.error_notification.username.unchangeable') %>
  <% end %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :email %>
  <%= f.input :country, collection: [] %>
  <%= f.input :state, collection: [] %>
  <%= f.input :city, collection: [] %>
  <% locale_list = [['简体中文','zh-CN'],['English','en']] %>
  <% if defined?(is_new) %>
    <%= f.input :locale, collection: locale_list, selected: I18n.locale %>
  <% else %>
    <%= f.input :locale, collection: locale_list %>
  <% end %>
  <%= f.button :submit, t('submit') %>
  <span><%= link_to t('back'), home_path, class:"btn btn-default back" %></span>
<% end %>
<script>
  populateCountries('<%= I18n.locale.to_s %>','<%= @user.country %>','<%= @user.state %>','<%= @user.city %>');
</script>
