<div class="footer">
  <div class="container-fluid">
    <div class='row'>
      <div class="col-xs-10 text">
        <p>&copy;&nbsp;<%= Date.today.year %>&nbsp;&nbsp;<a href=<%= t 'footer.link' %> target="_blank" class="white">Seacen&trade;<%= t 'footer.tech' %></a><%= t 'footer.copyright' %></p>
      </div>
      <div class="col-xs-2">
        <div class="btn-group dropup pull-right">
          <button type="button" class="btn btn-default dropdown-toggle langbtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu footer-drop">
            <% if true %>
              <% if request.env['PATH_INFO'][0...3] == '/en' %>
                <% rpath = request.env['PATH_INFO'][3..-1] %>
              <% elsif request.env['PATH_INFO'][0...6] == '/zh-CN' %>
                <% rpath = request.env['PATH_INFO'][6..-1] %>
              <% else %>
                <% rpath = request.env['PATH_INFO'] %>
              <% end %>
              <% if (I18n.locale.to_s == 'en') %>
                <% lang_en = 'active' %>
                <% lang_zh = 'inactive' %>
              <% else %>
                <% lang_en = 'inactive' %>
                <% lang_zh = 'active' %>
              <% end %>
              <li><%= link_to '简体中文', '/zh-CN'+rpath, class:lang_zh, 'data-no-turbolink' => true, 'ontouchstart' => '' %></li>
              <div class="footer-drop-break"></div>
              <li><%= link_to 'English', '/en'+rpath, class:lang_en, 'data-no-turbolink' => true, 'ontouchstart' => '' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
