<nav class="navbar navbar-default nospace navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Kexchange',home_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if curr_user %>
        <ul class="nav navbar-nav navbar-right">
          <% if current_page?(curr_user) %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
          <%= link_to t('welcome')+curr_user.username, curr_user %></li>
          <% if current_page?(edit_user_path(id:curr_user.id)) %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
          <%= link_to t('user.edit.heading'), edit_user_path(curr_user.id)%></li>
          <li><%= link_to t('logout'), logout_path, method: :delete%></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t 'login' %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <%= simple_form_for(:credentials, url: signin_path) do |f| %>
                <%= f.input :username, placeholder: t('username'), label: false, input_html: {class: 'dropdowninput'} %>
                <%= f.input :password, placeholder: t('password'), label: false, input_html: {class: 'dropdowninput'} %>
                <%= f.button :submit, t('login'), class:'black' %>
              <% end %>
            </div>
          </li>
        </ul>
      <% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
